@font-face {
    font-family: MyAvenir;
    src: url("/asset/fonts/AvenirNextLTProBold.ttf");
    font-weight: 700;

}

@font-face {
    font-family: MyAvenir;
    src: url("/asset/fonts/AvenirNextLTPro.ttf");
    font-weight: 400;

}

@font-face {
    font-family:MyAvenir;
    src: url("/asset/fonts/AvenirNextLTProDemi.ttf");
    font-weight: 600;

}