

$breakpoint_tablet :1279px;
$breakpoint_mobile:768px;
$breakpoint_desktop:1280px;

@mixin desktop {
  @media (min-width:$breakpoint_desktop ){

    @content;

  }

}

@mixin tablet {
 @media (min-width:$breakpoint_mobile) and (max-width:$breakpoint_tablet){

       @content;

 }
}





