@use './fonttype' as *;


$breakpoint_tablet :768px;
$breakpoint_desktop:1280px;




@mixin tablet {
 @media (min-width:$breakpoint_tablet){

       @content;

 }
}



@mixin desktop {
  @media screen and (min-width:$breakpoint_desktop ){

    @content;

  }

}

@mixin mobile-font-h2{
  font-size: 1.5rem;
  font-weight: 700;
    font-family: "MyAvenir";
    line-height: 2rem;

}

@mixin mobile-font-h3{
  font-size: 0.875rem;
  font-weight: 600;
    font-family: "MyAvenir";
    line-height: 1.375rem;

}

@mixin mobile-font-body{
  font-size: 0.813rem;
  font-family: "MyAvenir";
  line-height: 1.125rem;
  font-weight: 400;
}

@mixin desktop-tablet-font-h2{
  font-size: 2.25rem;
  font-weight: 700;
    font-family: "MyAvenir";
    line-height: 2.75rem;

}

@mixin desktop-tablet-font-h3{
  font-size: 1.5rem;
  font-weight: 600;
    font-family: "MyAvenir";
    line-height: 2rem;

}

@mixin desktop-tablet-font-body{
  font-size: 0.875rem;
  font-family: "MyAvenir";
  line-height: 1.375rem;
  font-weight: 400;
}

@mixin desktop-tablet-footer-copy-font{
  font-size: 0.875rem;
  font-family: "MyAvenir";
  line-height: 1.25rem;
  font-weight: 400;
}




// Need to fix

// 1. Sprint1 according to the feedback , i fixed some points,
// but remains i ll fix on next Sprint
// 2.And also i have some alignment issue on show display, ill fix it
