@use './color'as *;
@use './mixin'as *;

body {
    margin: 0;

}

html,
// body {
//     width: auto !important;
//     overflow-x: hidden !important
// }

*,
*::after,
*::before {
  box-sizing: border-box;
}

*::placeholder {

  @include mobilefontforh3;

  color: $primary-Black;
  font-weight: 700;
}





@font-face {
    font-family: Avnirbold;
    src: url("/asset/fonts/AvenirNextLTProBold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: AvnirmyFontRegular;
    src: url("/asset/fonts/AvenirNextLTPro.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: AvnirmyFontDemi;
    src: url("/asset/fonts/AvenirNextLTProDemi.ttf");
    font-weight: 600;
  }




  .header {
    width: 100%;
    background-color: $primary-Black;
    margin: 0 auto;

    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  @include desktop{
    display: flex;
    flex-direction: row;
    width: 100%;
  }




 &__logo-container {
        display: flex;
        align-items: center;
        justify-content: center;


        @include tablet{
          margin-left: 1.5rem;
          padding-left: 1.5rem;
      }
    }

    &__logo {
        width: 7rem;
        padding: 1rem 0;



        @include tablet{

          width: 7rem;
      }

      @include desktop{
        padding: 0 0 0 3.938rem;
        box-sizing: content-box;
      }
    }

    &__menu {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
     padding: 0;

      margin-bottom: 0;
     // width: 100%;

        @include tablet{
          width: 30%;
          align-items: center;
          margin-top: 0;
          margin-left: 1.5rem;
          justify-content: center;
          padding-right: 2rem;
      }

      @include desktop{
        width: 20%;
        height: 100%;
        line-height: 5rem;
        align-items: center;
        margin-top: 0;
        margin-left: 3.5rem;
        padding-left: 0;
      }
    }


    }




 .footer {
    background-color: $primary-Black;
    margin: 0 auto;

    &__container {
        margin: 0 1rem;
        @include tablet{
          margin-left: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 4rem;
        }
    }

    &__title {
        @include mobilefontforh2;
        color: $primary-white;
        margin: 0;
        padding: 3rem 0 1.5rem 0;
        @include tablet{
          @include des_tab_fontforh2;
          padding: 0;
        }
    }

    &__tabletlogo {
        display: none;
        @include tablet{

          min-height: 10rem;
            display: unset;

    }
  }
@include tablet{

  &__logoimg {
      max-width: 25rem;
      padding-top: 1.5rem;
      margin-top: 3rem;
  }
}
}

.logo {
  @include tablet{


  display: none;
  }
}

.social {

  @include tablet {
    padding-top: 1.5rem;
        padding-right: 4.5rem;
  }
    &__icons img {
        width: 3rem;
        height: 3rem;
        margin-left: 0;
        padding: 0 0 1rem 0;

        @include tablet{
          width: 3rem;
          height: 3rem;
          padding: 0 0 1rem;
          margin-right: 1rem;
        }


    }
}

.agents {
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1.5rem;
    padding-left: 1.5rem;
    align-items: center;
  }
}

.address {
    color: $primary-white;

    &__name {
        @include mobilefontforbody;
        margin: 0;
        padding: 1rem 0 0 1rem;


    @include tablet {
      @include footercopyfont;
      padding-bottom: 1rem;
    }
  }

    &__details {
        @include mobilefontforbody;
        padding: 0rem 0 0 1rem;
    }

    @include tablet{

    &__email{
      padding-top: 1.5rem;
            @include footercopyfont;
    }
  }
}

.artist {
    color: $primary-white;

    &__title {
        @include mobilefontforbody;
        margin: 0;
        padding: 1rem 0 0 1rem;

        @include tablet {
          @include footercopyfont;
          padding-bottom: 1rem;
        }
    }

    &__details {
        @include mobilefontforbody;
        padding: 0rem 0 1rem 1rem;
    }
    &__link {
      @include tablet{
      padding-top: 1.5rem;
      @include footercopyfont;
      }
    }
}

.entertainment {
    color: $primary-white;

    @include  tablet {
      padding-right: 1rem;
    }

    &__title {
        @include mobilefontforbody;
        margin: 0;
        padding: 0rem 0 0 1rem;
        @include tablet {
          @include footercopyfont;
            padding-bottom: 1rem;
        }
    }

    &__details {
        @include mobilefontforbody;
        padding: 0rem 0 0 1rem;
    }

    &__link{
      @include tablet {
        padding-top: 1.5rem;
        @include footercopyfont;
      }
    }


}


.footerlogo {
  @include tablet{


  display: none;
  }
}

.logo {
    &__img {
        width: 8rem;
        padding: 1.5rem 0 0 1rem;
    }
}

.copyright {
    &__sentence {
        @include mobilefontforbody;
        color: $primary-white;
        margin: 0;
        padding: 0.5rem 0 1.5rem 1rem;

        @include tablet {


                @include footercopyfont;
                margin-left: 2.25rem;
                padding: 2.25rem 2.25rem 2.5rem 0rem;


    }

    }
}