@font-face {
  font-family: MyAvenir;
  src: url("/asset/fonts/AvenirNextLTProBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: MyAvenir;
  src: url("/asset/fonts/AvenirNextLTPro.ttf");
  font-weight: 400;
}
@font-face {
  font-family: MyAvenir;
  src: url("/asset/fonts/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}
body {
  margin: 0;
}

html,
*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

*::-moz-placeholder {
  font-size: 0.875rem;
  font-weight: 600;
  font-family: MyAvenir;
  line-height: 1.375rem;
  color: #323232;
  font-weight: 700;
}

*::placeholder {
  font-size: 0.875rem;
  font-weight: 600;
  font-family: MyAvenir;
  line-height: 1.375rem;
  color: #323232;
  font-weight: 700;
}

@font-face {
  font-family: Avnirbold;
  src: url("/asset/fonts/AvenirNextLTProBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: AvnirmyFontRegular;
  src: url("/asset/fonts/AvenirNextLTPro.ttf");
  font-weight: 400;
}
@font-face {
  font-family: AvnirmyFontDemi;
  src: url("/asset/fonts/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}
.footer {
  background-color: #323232;
  margin: 0 auto;
  margin-top: 1rem;
}
.footer__container {
  margin: 0 1rem;
}
.footer__title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: MyAvenir;
  line-height: 2rem;
  color: #FFFFFF;
  margin: 0;
  padding: 3rem 0 1.5rem 0;
}
.footer__tabletlogo {
  display: none;
}

.social__icons img {
  width: 3rem;
  height: 3rem;
  margin-left: 0;
  padding: 0 0 1rem 0;
}

.address {
  color: #FFFFFF;
}
.address__name {
  font-size: 0.813rem;
  font-family: MyAvenir;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0;
  padding: 1rem 0 0 1rem;
}
.address__details {
  font-size: 0.813rem;
  font-family: MyAvenir;
  line-height: 1.125rem;
  font-weight: 400;
  padding: 0rem 0 0 1rem;
}

.artist {
  color: #FFFFFF;
}
.artist__title {
  font-size: 0.813rem;
  font-family: MyAvenir;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0;
  padding: 1rem 0 0 1rem;
}
.artist__details {
  font-size: 0.813rem;
  font-family: MyAvenir;
  line-height: 1.125rem;
  font-weight: 400;
  padding: 0rem 0 1rem 1rem;
}

.entertainment {
  color: #FFFFFF;
}
.entertainment__title {
  font-size: 0.813rem;
  font-family: MyAvenir;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0;
  padding: 0rem 0 0 1rem;
}
.entertainment__details {
  font-size: 0.813rem;
  font-family: MyAvenir;
  line-height: 1.125rem;
  font-weight: 400;
  padding: 0rem 0 0 1rem;
}

.logo__img {
  width: 8rem;
  padding: 1.5rem 0 0 1rem;
}

.copyright__sentence {
  font-size: 0.813rem;
  font-family: MyAvenir;
  line-height: 1.125rem;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
  padding: 0.5rem 0 1.5rem 1rem;
}

@media (min-width: 768px) {
  .footer__container {
    margin-left: 2.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2.25rem;
  }
  .footer__title {
    font-size: 2.25rem;
    font-weight: 700;
    font-family: MyAvenir;
    line-height: 2.75rem;
    padding: 0;
  }
  .footer__tabletlogo {
    min-height: 10rem;
    display: unset;
  }
  .footer__logoimg {
    max-width: 25rem;
    padding-top: 1.5rem;
    margin-top: 3rem;
  }
  .logo {
    display: none;
  }
}
@media (min-width: 768px) {
  .social {
    padding-top: 1.5rem;
    padding-right: 1.5rem;
  }
  .social__icons {
    padding-right: 6rem;
  }
  .social__icons img {
    width: 3rem;
    height: 3rem;
    padding: 0 0 1rem;
    margin-right: 1rem;
  }
  .agents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1.5rem;
    padding-left: 1.5rem;
    align-items: center;
  }
  .address__name {
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }
  .address__email {
    padding-top: 1.5rem;
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
  }
  .artist__title {
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }
  .artist__link {
    padding-top: 1.5rem;
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
  }
  .entertainment {
    padding-right: 1rem;
  }
  .entertainment__title {
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }
  .entertainment__link {
    padding-top: 1.5rem;
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
  }
  .footerlogo {
    display: none;
  }
  .copyright__sentence {
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
    margin-left: 2.25rem;
    padding: 2.25rem 2.25rem 2.5rem 0rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__title {
    font-size: 2.25rem;
    font-weight: 700;
    font-family: MyAvenir;
    line-height: 2.75rem;
    padding: 3rem 2.25rem 2.25rem 1.25rem;
    font-size: 2.25rem;
    margin-left: 2.25rem;
  }
  .footer__tabletlogo {
    display: inline-block;
  }
  .footer__logoimg {
    box-sizing: content-box;
    max-width: 25rem;
    height: 1.5rem;
    padding-top: 0.9rem;
    margin-right: 2rem;
    padding-right: 3rem;
  }
  .logo {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .social {
    padding-top: 1.5rem;
  }
  .social__icons {
    padding-right: 25rem;
  }
  .social__icons img {
    width: 3rem;
    height: 3rem;
    margin-left: 1.5ren;
    padding: 0 0 1rem;
    margin-right: 1rem;
  }
  .agents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    align-items: center;
  }
  .address {
    margin-left: 3rem;
  }
  .address__name {
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }
  .address__email {
    padding-top: 1.5rem;
  }
  .artist__link {
    padding-top: 1.5rem;
  }
  .artist__title {
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }
  .entertainment {
    margin-right: 28rem;
    margin-left: 1rem;
  }
  .entertainment__title {
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }
  .entertainment__link {
    padding-top: 1.5rem;
  }
  .footerlogo {
    display: none;
  }
  .copyright__sentence {
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
    margin-left: 2.25rem;
    padding: 2.25rem 2.25rem 2.5rem 2.25rem;
  }
}/*# sourceMappingURL=global.css.map */