@use './partials/mixin'as *;
@use './partials/fonttype'as *;
@use './partials/color'as *;

.header {
    &__links {
        text-align: center;
        padding-bottom: 1rem;
        width: 50vw;
        margin: 0 0rem 0 0;
        @include mobile-font-body;

        &--active {
            color: $primary-white;
            border-bottom: 3px solid $primary-white;
            font-weight: 700;

            @include desktop {
                border: none;
            }
        }

        &--inactive {
            color: $secondory-mercury;
        }

        @include tablet {
            width: 1vw;
            height: 6rem;
            position: relative;
            top: 2.5rem;
        }

        @include desktop {
            height: 100%;
            position: relative;
            top: 2rem;
            width: 100%;
        }
    }

    &__border-biography {
        @include tablet {
            width: 4rem;
            padding-left: 0;
            margin-right: 2rem;
            border-bottom: 2px solid $primary-white;
        }

        @include desktop {
            padding-bottom: 3rem;
            height: 100%;
        }
    }

    &__border-show {
        @include tablet {
            width: 3rem;
            margin-left: 2rem;
        }

        @include desktop {
            padding-bottom: 3rem;
            padding-left: 0;
            padding-right: 0rem;
            margin-right: 4rem;
            height: 100%;
            border: none;
            margin-left: 0;
            padding-right: 0rem;
        }
    }
}

.heroimage {
    background-image: url("/asset/images/hero-bio.jpg");
    max-width: 100%;
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
    position: relative;
    margin-inline: auto;

    @include tablet {
        height: 30rem;
    }

    @include desktop {
        max-width: 100%;
        height: 40rem;
    }

    &__overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        background-color: rgba(32, 32, 32, 0.5);
    }

    &__container {
        display: flex;
        align-items: center;
        height: 27vh;
        margin: 0 auto;

        @include tablet {
            min-height: 28rem;
        }

        @include desktop {
            min-height: 100%;
        }
    }

    &__title {
        padding-left: 1rem;
        padding-right: 1rem;
        font-family: "MyAvenir";
        font-size: 1.5rem;
        font-weight: 700;
        color: $primary-white;
        line-height: 2rem;
        z-index: 1;
        text-transform: capitalize;

        @include tablet {
            font-family: "MyAvenir";
            font-size: 3.75rem;
            font-weight: 700;
            line-height: 4.25rem;
            margin-left: 2.25rem;
            padding: 0 1.5rem 0 0rem;
        }

        @include desktop {
            padding: 0;
            padding-left: 3rem;
            width: 31.875rem;
        }
    }
}

.band {
    &__title {
        padding-left: 1rem;
        @include mobile-font-h2;
        padding-top: 1.5rem;
        margin: 0 auto;

        @include tablet {
            @include desktop-tablet-font-h2;
            padding: 3rem 2.25rem 2.25rem 0;
            margin-left: 2.25rem;
            max-width: 100%;
        }

        @include desktop {
            @include desktop-tablet-font-h2;
            padding-right: 0;
            padding-left: 3.938rem;
        }
    }

    &__img {
        box-sizing: border-box;
        width: 100%;
        padding: 1rem 1rem 0 1rem;
        max-height: 35rem;

        @include tablet {
            padding: 0 3rem 0 3rem;
            margin: 0 2.25rem 0 2.25rem;
        }

        @include desktop {
            padding: 0 3.938rem;
            margin-right: 5rem;
            margin-left: 0;
        }
    }

    &__description {
        @include mobile-font-h3;
        margin: 0;
        line-height: 1.375rem;

        @include tablet {
            margin: 0 2.25rem;
        }

        @include desktop {
            margin-right: 5rem;
            margin-left: 5rem;
        }
    }

    &__description1 {
        padding: 1rem 1rem 0 1rem;
        margin-top: 0;
        margin-bottom: 0;

        @include tablet {
            padding: 2.25rem 2.25rem 0.5rem 2.25rem;
            @include desktop-tablet-font-h3;
        }

        @include desktop {
            padding: 2.25rem 3.938rem 0 3.938rem;
        }
    }

    &__description2 {
        padding: 0.5rem 1rem 0 1rem;
        margin: 0;

        @include tablet {
            padding: 0rem 2.25rem 0 2.25rem;
            @include mobile-font-h3;
            font-weight: 700;
        }

        @include desktop {
            padding: 1rem 3.938rem 0 3.938rem;
            @include desktop-tablet-font-h3;
        }
    }

    &__container {
        @include tablet {
            margin-right: 2.25rem;
            padding-right: 2.25rem;
        }

        @include desktop {
            margin: 0 5rem;
        }
    }
}

.paragraph {
    margin-inline: auto;

    &__title {
        @include mobile-font-h3;
        padding: 1.5rem 1rem 0 0rem;
        box-sizing: border-box;
        margin-left: 1rem;
        margin-bottom: 0;
        margin-top: 0;
        text-transform: capitalize;

        @include tablet {
            padding: 3rem 2.25rem 0 2.25rem;
            @include desktop-tablet-font-h3;
            margin-left: 2.25rem;
            margin-top: 0;
            margin-bottom: 0;
        }

        @include desktop {
            padding: 3rem 3.938rem 0 3.938rem;
            margin-left: 5rem;
        }
    }

    &__container {
        @include tablet {
            display: flex;
            gap: 2rem;
            padding: 0 2.25rem 0 1.5rem;
        }

        @include desktop {
            display: flex;
            padding: 2.25rem 3.938rem 2.5rem 3rem;
            box-sizing: content-box;
        }
    }

    &__paragraph1 {
        @include mobile-font-body;
        padding: 1rem 1rem 0 1rem;
        margin-bottom: 0;
        margin-top: 0;

        @include tablet {
            @include desktop-tablet-font-body;
            flex: 50%;
            margin-left: 2.25rem;
        }

        @include desktop {
            margin-left: 5rem;
            padding-top: 0rem;
        }
    }

    &__paragraph2 {
        @include mobile-font-body;
        padding: 1rem 1rem 0rem 1rem;
        margin-bottom: 0;
        margin-top: 0;

        @include tablet {
            @include desktop-tablet-font-body;
            flex: 50%;
            margin-right: 2.25rem;
            padding-bottom: 2.25rem;
        }

        @include desktop {
            margin-right: 5rem;
            padding-top: 0;
        }
    }
}

.gallery {
    background-color: $background_alabaster;
    margin: 0;
    width: 100%;
    margin: 0 auto;

    &__title {
        @include mobile-font-h2;
        margin-left: 1rem;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        margin-top: 0;
        margin-bottom: 0;

        @include tablet {
            @include desktop-tablet-font-h2;
            margin: 0 2.25rem;
            padding: 3rem 2.25rem 1.5rem 0rem;
        }

        @include desktop {
            padding-bottom: 2.25rem;
            padding-left: 3.938rem;
        }
    }

    &__photos {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            padding-left: 0;
        }

        @include desktop {}
    }

    &__picture {
        width: 100%;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;

        @include tablet {
            max-width: 30%;
            margin: 0 0.5rem 1.5rem 0rem;
        }

        @include desktop {
            max-width: 29%;
            padding: 0 1.5rem 1.25rem 2rem;
            gap: 1rem;
        }
    }
}

.comments {
    &__title {
        @include mobile-font-h2;
        margin-left: 1rem;
        margin-top: 0;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        margin-bottom: 0;

        @include tablet {
            @include desktop-tablet-font-h2;
            margin-left: 2.5rem;
        }

        @include desktop {
            padding-left: 2rem;
        }
    }

    &__right-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 0.5rem;
        width: 100%;
    }

    &__image-container {
        margin-right: 0;
    }

    &__fields {
        display: flex;
        flex-direction: row;
        padding-left: 1rem;
        justify-content: left;
        align-items: start;
        margin-right: 1rem;
        margin-top: 0;
        padding-bottom: 1rem;

        @include tablet {
            margin-left: 5rem;
            margin-right: 5rem;
        }

        @include desktop {
            margin-left: 18rem;
            margin-right: 18rem;
        }
    }

    &__name {
        @include mobile-font-body;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        color: $primary_silver;

        @include tablet {
            @include desktop-tablet-font-body;
            font-weight: 400;
        }
    }

    &__label-name {
        padding-bottom: 0.25rem;

        @include tablet {
            @include desktop-tablet-font-body;
        }
    }

    &__name-textBox {
        height: 3rem;
        @include mobile-font-body;
        border-radius: 0.25rem;
        padding: 0.75rem;
        border: 1px solid $secondory-mercury;
        color: $primary-Black;

        &:focus {
            border: 1px solid $primary-Black;
            outline-width: 0;
        }
    }

    &__avatar {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-top: 1.3rem;
        margin-right: 0.5rem;
    }

    &__subjecttxt {
        @include mobile-font-body;
        text-transform: uppercase;
        padding-bottom: 0.5rem;
        color: $primary_silver;

        @include tablet {
            @include desktop-tablet-font-body;
        }
    }

    &__textwrap {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        width: 100%;
        padding-right: 0rem;
        @include mobile-font-body;
        height: 60%;
    }

    &__textarea {
        height: 7rem;
        border-radius: 0.25rem;
        padding-bottom: 1rem;
        padding: 0.75rem;
        @include mobile-font-body;
        border: 1px solid $secondory-mercury;

        &:focus {
            border: 1px solid $primary-Black;
            outline-width: 0;
        }

        @include tablet {
            @include desktop-tablet-font-body;
        }
    }

    &__right-container {
        @include tablet {
            align-items: end;
            justify-content: flex-end;
        }

        @include desktop {
            padding-right: 0;
            margin-right: 0;
        }
    }

    &__button {
        margin-top: 1rem;
        @include mobile-font-h3;
        text-align: center;
        margin-right: 1rem;
        padding-right: 0rem;
        padding-left: 0rem;
        text-transform: uppercase;
        border-radius: 0.25rem;
        width: 100%;
        background-color: $primary-Black;
        height: 2.5rem;
        color: $primary-white;

        &:hover {
            background-color: $secondary-darkBlack;
            z-index: 1;
        }

        @include tablet {
            width: 10rem;
            padding-left: 2rem;
            padding-right: 2rem;
            margin-left: 24rem;
            margin-right: 0;
            height: 3rem;
            @include desktop-tablet-font-body;
            font-weight: 600;

            &:hover {
                background-color: $secondary-darkBlack;
                z-index: 1;
            }
        }
    }

    &__bottom {
        @include desktop {
            margin-left: 10rem;
            margin-right: 10rem;
        }
    }
}

.review {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0;

    @include tablet {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
    }

    &__line {
        margin: auto;
        color: $secondory-mercury;
        width: 100%;
        stroke-width: 1px;
        border-top: 1px solid $secondory-mercury;
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    &__placeholder {
        height: 3rem;
        width: 3rem;
        background-color: aqua;
        border-radius: 50%;
        padding-right: 3rem;
        background-color: $secondory-mercury;
    }

    &__text-container {
        display: flex;
        justify-content: space-between;
    }

    &__name {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 1rem;
        @include mobile-font-h3;

        @include tablet {
            @include desktop-tablet-font-body;
            font-weight: 700;
        }
    }

    &__right-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    &__sentence {
        @include mobile-font-body;
        margin-left: 1rem;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 1rem;
        padding-top: 1rem;

        @include tablet {
            @include desktop-tablet-font-body;
        }
    }

    &__date {
        @include mobile-font-body;
        color: $primary_silver;
        justify-content: right;

        @include tablet {
            @include desktop-tablet-font-body;
        }
    }

    &__line-bottom {
        color: $secondory-mercury;
        stroke-width: 1px;
        margin-left: 1rem;
        margin-right: 1rem;
        border-top: 1px solid $secondory-mercury;
        margin-top: 0;
        margin-bottom: 1rem;

        @include tablet {
            margin-left: 5rem;
            margin-right: 5rem;
        }

        @include desktop {
            margin-left: 15rem;
            margin-right: 15rem;
        }
    }
}