@font-face {
  font-family: Avnirbold;
  src: url("/asset/fonts/AvenirNextLTProBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: AvnirmyFontRegular;
  src: url("/asset/fonts/AvenirNextLTPro.ttf");
  font-weight: 400;
}
@font-face {
  font-family: AvnirmyFontDemi;
  src: url("/asset/fonts/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}
.header {
  width: 100%;
  background-color: #323232;
  margin: 0 auto;
}
.header__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo {
  width: 7rem;
  padding: 1rem 0;
}
.header__menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-bottom: 0;
  width: 100%;
}
.header__links {
  text-align: center;
  padding-bottom: 1rem;
  width: 50vw;
  margin: 0 1rem 0 0;
  font-size: 0.813rem;
  font-family: AvnirmyFontRegular;
  line-height: 1.125rem;
  font-weight: 400;
}
.header__links--active {
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
  font-weight: 700;
}
.header__links--inactive {
  color: #E1E1E1;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header__logo-container {
    margin-left: 1.5rem;
    padding-left: 1.5rem;
  }
  .header__logo {
    width: 7rem;
  }
  .header__links {
    width: 1vw;
    height: 6rem;
    position: relative;
    top: 2.5rem;
  }
  .header__menu {
    width: 30%;
    align-items: center;
    margin-top: 0;
    margin-left: 1.5rem;
    justify-content: center;
    padding-right: 2rem;
  }
  .header__border-biography {
    width: 4rem;
    padding-left: 0;
    border-bottom: 2px solid #FFFFFF;
  }
  .header__border-show {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .header__logo {
    padding: 0 0 0 3.938rem;
    box-sizing: content-box;
  }
  .header__links {
    height: 100%;
    top: 3rem;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .header__links--active {
    padding-bottom: 1.25rem;
  }
  .header__links--inactive {
    padding-top: 1rem;
  }
  .header__menu {
    width: 20%;
    height: 100%;
    line-height: 5rem;
    align-items: center;
    margin-top: 0;
    margin-left: 3.5rem;
    padding-left: 0;
  }
  .header__border-biography {
    width: 4rem;
    padding-left: 0;
    padding-top: 1.5rem;
  }
  .header__border-show {
    height: 100%;
    padding-left: 0;
    font-size: 1rem;
    padding-right: 0rem;
    margin-right: 4.5rem;
    margin-left: 0rem;
  }
}
.heroimage {
  background-image: url("/asset/images/hero-bio.jpg");
  max-width: 100%;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  position: relative;
  margin-inline: auto;
}
.heroimage__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: rgba(32, 32, 32, 0.5);
}
.heroimage__container {
  display: flex;
  align-items: center;
  height: 27vh;
  margin: 0 auto;
}
.heroimage__title {
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: Avnirbold;
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 2rem;
  z-index: 1;
  text-transform: capitalize;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .heroimage {
    height: 30rem;
  }
  .heroimage__container {
    min-height: 28rem;
  }
  .heroimage__title {
    font-family: Avnirbold;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.25rem;
    margin-left: 2.25rem;
    padding: 0 1.5rem 0 0rem;
  }
}
@media (min-width: 1280px) {
  .heroimage {
    max-width: 100%;
    height: 40rem;
  }
  .heroimage__container {
    min-height: 100%;
  }
  .heroimage__title {
    font-family: Avnirbold;
    padding: 0;
    padding-left: 3rem;
    font-size: 3.75rem;
    line-height: 4.25rem;
    width: 31.875rem;
  }
}
.band__title {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Avnirbold;
  line-height: 2rem;
  padding-top: 1.5rem;
  margin: 0 auto;
}
.band__img {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 1rem 0 1rem;
  max-height: 35rem;
}
.band__desc {
  font-size: 0.875rem;
  font-weight: 600;
  font-family: AvnirmyFontDemi;
  line-height: 1.375rem;
  margin: 0;
  line-height: 1.375rem;
}
.band__des1 {
  padding: 1rem 1rem 0 1rem;
  margin-top: 0;
  margin-bottom: 0;
}
.band__des2 {
  padding: 0.5rem 1rem 0 1rem;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .band__title {
    font-size: 2.25rem;
    font-weight: 700;
    font-family: Avnirbold;
    line-height: 2.75rem;
    padding: 3rem 2.25rem 2.25rem 0;
    margin-left: 2.25rem;
    max-width: 100%;
  }
  .band__container {
    margin-right: 2.25rem;
    padding-right: 2.25rem;
  }
  .band__img {
    padding: 0 3rem 0 3rem;
    margin: 0 2.25rem 0 2.25rem;
  }
  .band__desc {
    margin: 0 2.25rem;
  }
  .band__des1 {
    padding: 2.25rem 2.25rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: AvnirmyFontDemi;
    line-height: 2rem;
  }
  .band__des2 {
    padding: 0rem 2.25rem 0 2.25rem;
    font-size: 0.875rem;
    font-weight: 600;
    font-family: AvnirmyFontDemi;
    line-height: 1.375rem;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .band__title {
    font-size: 2.25rem;
    font-weight: 700;
    font-family: Avnirbold;
    line-height: 2.75rem;
    padding: 3rem 0 2.25rem 3.938rem;
    max-width: 100%;
  }
  .band__container {
    margin: 0 5rem;
  }
  .band__img {
    padding: 0 3.938rem 0 3.938rem;
    margin: 0 5rem 0 0;
  }
  .band__desc {
    margin-right: 5rem;
    margin-left: 5rem;
  }
  .band__des1 {
    padding: 2.25rem 3.938rem 0 3.938rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: AvnirmyFontDemi;
    line-height: 2rem;
  }
  .band__des2 {
    padding: 1rem 3.938rem 0 3.938rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: AvnirmyFontDemi;
    line-height: 2rem;
  }
}
.paragraph {
  margin-inline: auto;
}
.paragraph__title {
  font-size: 0.875rem;
  font-weight: 600;
  font-family: AvnirmyFontDemi;
  line-height: 1.375rem;
  padding: 1.5rem 1rem 0 0rem;
  box-sizing: border-box;
  margin-left: 1rem;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: capitalize;
}
.paragraph__para1 {
  font-size: 0.813rem;
  font-family: AvnirmyFontRegular;
  line-height: 1.125rem;
  font-weight: 400;
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 0;
  margin-top: 0;
}
.paragraph__para2 {
  font-size: 0.813rem;
  font-family: AvnirmyFontRegular;
  line-height: 1.125rem;
  font-weight: 400;
  padding: 1rem 1rem 0rem 1rem;
  margin-bottom: 0;
  margin-top: 0;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .paragraph__title {
    padding: 3rem 2.25rem 0 2.25rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: AvnirmyFontDemi;
    line-height: 2rem;
    margin-left: 2.25rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .paragraph__para {
    display: flex;
    gap: 2rem;
    padding: 0 2.25rem 0 1.5rem;
  }
  .paragraph__para1 {
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.375rem;
    font-weight: 400;
    flex: 50%;
    margin-left: 2.25rem;
  }
  .paragraph__para2 {
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.375rem;
    font-weight: 400;
    flex: 50%;
    margin-right: 2.25rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .paragraph__title {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: AvnirmyFontDemi;
    line-height: 2rem;
    padding: 3rem 3.938rem 0 3.938rem;
    margin-bottom: 0;
    margin-left: 5rem;
  }
  .paragraph__para {
    display: flex;
    gap: 2rem;
    padding: 2.25rem 3.938rem 2.5rem 3rem;
    box-sizing: content-box;
  }
  .paragraph__para1 {
    flex: 50%;
    margin-left: 5rem;
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.375rem;
    font-weight: 400;
    padding-top: 0rem;
  }
  .paragraph__para2 {
    flex: 50%;
    margin-right: 5rem;
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.gallery {
  background-color: #FAFAFA;
  margin: 0;
  width: 100vw;
  margin: 0 auto;
}
.gallery__title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Avnirbold;
  line-height: 2rem;
  margin-left: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}
.gallery__photos img {
  box-sizing: border-box;
  height: 50vw;
  width: 100vw;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .gallery__title {
    font-size: 2.25rem;
    font-weight: 700;
    font-family: Avnirbold;
    line-height: 2.75rem;
    margin: 0 2.25rem;
    padding: 3rem 2.25rem 1.5rem 0rem;
  }
  .gallery__photos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
  }
  .gallery__photos img {
    max-height: 7rem;
    max-width: 15rem;
    margin: 0 0.5rem 1.5rem 0rem;
  }
}
@media (min-width: 1280px) {
  .gallery__title {
    font-size: 2.25rem;
    font-weight: 700;
    font-family: Avnirbold;
    line-height: 2.75rem;
    padding: 3rem 2.25rem 2.25rem 3.938rem;
  }
  .gallery__photos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .gallery__photos img {
    max-height: 14rem;
    max-width: 24rem;
    padding: 0 1.5rem 1.25rem 1rem;
    gap: 1rem;
  }
}
.footer {
  background-color: #323232;
  margin: 0 auto;
}
.footer__container {
  margin: 0 1rem;
}
.footer__title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Avnirbold;
  line-height: 2rem;
  color: #FFFFFF;
  margin: 0;
  padding: 3rem 0 1.5rem 0;
}
.footer__tabletlogo {
  display: none;
}

.social__icons img {
  width: 3rem;
  height: 3rem;
  margin-left: 0;
  padding: 0 0 1rem 0;
}

.address {
  color: #FFFFFF;
}
.address__name {
  font-size: 0.813rem;
  font-family: AvnirmyFontRegular;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0;
  padding: 1rem 0 0 1rem;
}
.address__details {
  font-size: 0.813rem;
  font-family: AvnirmyFontRegular;
  line-height: 1.125rem;
  font-weight: 400;
  padding: 0rem 0 0 1rem;
}

.artist {
  color: #FFFFFF;
}
.artist__title {
  font-size: 0.813rem;
  font-family: AvnirmyFontRegular;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0;
  padding: 1rem 0 0 1rem;
}
.artist__details {
  font-size: 0.813rem;
  font-family: AvnirmyFontRegular;
  line-height: 1.125rem;
  font-weight: 400;
  padding: 0rem 0 1rem 1rem;
}

.entertainment {
  color: #FFFFFF;
}
.entertainment__title {
  font-size: 0.813rem;
  font-family: AvnirmyFontRegular;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0;
  padding: 0rem 0 0 1rem;
}
.entertainment__details {
  font-size: 0.813rem;
  font-family: AvnirmyFontRegular;
  line-height: 1.125rem;
  font-weight: 400;
  padding: 0rem 0 0 1rem;
}

.logo__img {
  width: 8rem;
  padding: 1.5rem 0 0 1rem;
}

.copyright__sentence {
  font-size: 0.813rem;
  font-family: AvnirmyFontRegular;
  line-height: 1.125rem;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
  padding: 0.5rem 0 1.5rem 1rem;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer__container {
    margin-left: 2.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2.25rem;
  }
  .footer__title {
    font-size: 2.25rem;
    font-weight: 700;
    font-family: Avnirbold;
    line-height: 2.75rem;
    padding: 0;
  }
  .footer__tabletlogo {
    min-height: 10rem;
    display: unset;
  }
  .footer__logoimg {
    max-width: 25rem;
    padding-top: 1.5rem;
    margin-top: 3rem;
  }
  .logo {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .social {
    padding-top: 1.5rem;
    padding-right: 1.5rem;
  }
  .social__icons {
    padding-right: 6rem;
  }
  .social__icons img {
    width: 3rem;
    height: 3rem;
    padding: 0 0 1rem;
    margin-right: 1rem;
  }
  .agents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1.5rem;
    padding-left: 1.5rem;
    align-items: center;
  }
  .address__name {
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }
  .address__email {
    padding-top: 1.5rem;
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
  }
  .artist__title {
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }
  .artist__link {
    padding-top: 1.5rem;
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
  }
  .entertainment {
    padding-right: 1rem;
  }
  .entertainment__title {
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }
  .entertainment__link {
    padding-top: 1.5rem;
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
  }
  .footerlogo {
    display: none;
  }
  .copyright__sentence {
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
    margin-left: 2.25rem;
    padding: 2.25rem 2.25rem 2.5rem 0rem;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__title {
    font-size: 2.25rem;
    font-weight: 700;
    font-family: Avnirbold;
    line-height: 2.75rem;
    padding: 3rem 2.25rem 2.25rem 1.25rem;
    font-size: 2.25rem;
    margin-left: 2.25rem;
  }
  .footer__tabletlogo {
    display: inline-block;
  }
  .footer__logoimg {
    box-sizing: content-box;
    max-width: 25rem;
    height: 1.5rem;
    padding-top: 0.9rem;
    margin-right: 2rem;
    padding-right: 3rem;
  }
  .logo {
    display: none;
  }
}
@media (min-width: 1280px) {
  .social {
    padding-top: 1.5rem;
  }
  .social__icons {
    padding-right: 29rem;
  }
  .social__icons img {
    width: 3rem;
    height: 3rem;
    margin-left: 1.5ren;
    padding: 0 0 1rem;
    margin-right: 1rem;
  }
  .agents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    align-items: center;
  }
  .address {
    margin-left: 3rem;
  }
  .address__name {
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }
  .address__email {
    padding-top: 1.5rem;
  }
  .artist__link {
    padding-top: 1.5rem;
  }
  .artist__title {
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }
  .entertainment {
    margin-right: 28rem;
    margin-left: 1rem;
  }
  .entertainment__title {
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }
  .entertainment__link {
    padding-top: 1.5rem;
  }
  .footerlogo {
    display: none;
  }
  .copyright__sentence {
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.25rem;
    font-weight: 400;
    margin-left: 2.25rem;
    padding: 2.25rem 2.25rem 2.5rem 2.25rem;
  }
}/*# sourceMappingURL=bio.css.map */