@font-face {
  font-family: Avnirbold;
  src: url("/asset/fonts/AvenirNextLTProBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: AvnirmyFontRegular;
  src: url("/asset/fonts/AvenirNextLTPro.ttf");
  font-weight: 400;
}
@font-face {
  font-family: AvnirmyFontDemi;
  src: url("/asset/fonts/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}
.header__links {
  text-align: center;
  padding-bottom: 1rem;
  width: 50vw;
  font-size: 0.813rem;
  font-family: AvnirmyFontRegular;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .header__links {
    width: 1vw;
    height: 6rem;
    position: relative;
    top: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__links {
    top: 2rem;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
  }
}
.header__links--active {
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
  font-weight: 700;
}
@media screen and (min-width: 1280px) {
  .header__links--active {
    padding-bottom: 1.25rem;
  }
}
.header__links--inactive {
  color: #E1E1E1;
}
@media screen and (min-width: 1280px) {
  .header__links {
    padding-top: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .header__border-biography {
    width: 4rem;
    padding-left: 0;
    padding-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .header__border-biography {
    width: 4rem;
    padding-left: 0;
    padding-top: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .header__border-show {
    padding-left: 0.25rem;
    padding-right: 2rem;
    margin-left: 3rem;
    border-bottom: 2px solid #FFFFFF;
  }
}
@media screen and (min-width: 1280px) {
  .header__border-show {
    height: 100%;
    padding-left: 0;
    font-size: 1rem;
    padding-right: 0rem;
    margin-right: 10rem;
    margin-left: 0rem;
  }
}

.heroimage {
  background-image: url("/asset/images/hero-shows.jpg");
  max-width: 100%;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  position: relative;
  margin-inline: auto;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .heroimage {
    height: 30rem;
  }
}
.heroimage__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: rgba(32, 32, 32, 0.5);
}
.heroimage__container {
  display: flex;
  align-items: left;
  flex-direction: column;
  max-width: 100%;
  height: 27vh;
  text-transform: capitalize;
  margin-right: 1rem;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .heroimage__container {
    min-height: 28rem;
  }
}
@media screen and (min-width: 1280px) {
  .heroimage__container {
    flex-direction: row;
    height: 40vh;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
}
.heroimage__subtitle {
  font-size: 0.875rem;
  font-weight: 600;
  font-family: AvnirmyFontDemi;
  line-height: 1.375rem;
  color: #FFFFFF;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .heroimage__subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: AvnirmyFontDemi;
    line-height: 2rem;
    margin-left: 2.25rem;
    padding-left: 0.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .heroimage__subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: AvnirmyFontDemi;
    line-height: 2rem;
    padding-left: 3.938rem;
    margin-left: 0;
  }
}
.heroimage__title {
  padding-left: 1rem;
  padding-top: 1rem;
  font-family: Avnirbold;
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 2rem;
  z-index: 1;
  text-align: left;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .heroimage__title {
    font-family: Avnirbold;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.25rem;
    margin-left: 2.25rem;
    padding: 0 1.5rem 0 0rem;
    margin-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .heroimage__title {
    font-family: Avnirbold;
    padding-left: 3.938rem;
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin: 0;
  }
}
.heroimage__audio {
  margin-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .heroimage__audio {
    max-width: 27rem;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .heroimage__audio {
    max-width: 38rem;
    height: 13rem;
    margin-left: 3rem;
    padding-right: 3.938rem;
  }
}

@media screen and (min-width: 1280px) {
  .shows {
    display: flex;
  }
}
.shows__title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Avnirbold;
  line-height: 2rem;
  margin-left: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin-top: 0rem;
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .shows__title {
    margin-left: 2rem;
    font-size: 2.25rem;
    font-weight: 700;
    font-family: Avnirbold;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__title {
    margin-left: 3rem;
  }
}
.shows__header {
  display: none;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .shows__header {
    display: flex;
    margin-left: 2.5rem;
    justify-content: space-between;
    color: #AFAFAF;
    font-size: 0.813rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.125rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 0.25rem;
    padding-top: 1rem;
    font-family: 600;
  }
}
@media screen and (min-width: 1280px) {
  .shows__header {
    display: flex;
    margin-left: 2.5rem;
    justify-content: space-between;
    color: #AFAFAF;
    font-size: 0.813rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.125rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 0.25rem;
    padding-top: 1rem;
    font-family: 600;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .shows__heading-venue {
    margin-right: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .shows__heading-venue__heading-date {
    margin-left: 0;
    margin-left: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .shows__heading-venue__heading-location {
    min-width: 10rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__heading-venue__heading-location {
    margin-left: 2rem;
  }
}
.shows__heading-venue__heading-element {
  min-width: 2rem;
  margin-right: 1rem;
}
.shows__container {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1280px) {
  .shows__container {
    margin-left: 10rem;
  }
}
.shows__lists {
  padding-left: 0rem;
  padding-top: 0rem;
  font-size: 0.875rem;
  font-weight: 600;
  font-family: AvnirmyFontDemi;
  line-height: 1.375rem;
  list-style: none;
  margin-top: 0;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .shows__lists {
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.shows__subtitle {
  color: #AFAFAF;
  font-size: 0.813rem;
  font-family: AvnirmyFontRegular;
  line-height: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 0.25rem;
  padding-top: 1rem;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .shows__subtitle {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .shows__subtitle {
    display: none;
  }
}
.shows__button {
  color: #FFFFFF;
  background-color: #323232;
  margin-right: 0rem;
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  font-family: AvnirmyFontDemi;
  line-height: 1.375rem;
  height: 3rem;
  width: 100%;
  text-transform: uppercase;
  border: none;
  border-radius: 0.5rem;
  word-spacing: 0.2rem;
  cursor: inherit;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .shows__button {
    width: 10rem;
    align-items: right;
    margin-right: 2.25rem;
    margin-top: 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__button {
    width: 10rem;
  }
}
.shows__date {
  font-size: 0.875rem;
  font-weight: 600;
  font-family: AvnirmyFontDemi;
  line-height: 1.375rem;
  font-weight: 700;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .shows__date {
    margin-left: 2.25rem;
    min-width: 10rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.375rem;
    font-weight: 400;
    font-weight: 600;
  }
}
.shows__venue {
  font-size: 0.875rem;
  font-weight: 600;
  font-family: AvnirmyFontDemi;
  line-height: 1.375rem;
  color: #323232;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .shows__venue {
    margin-left: 1.5rem;
    padding-bottom: 0.5rem;
    min-width: 10rem;
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.shows__location {
  font-size: 0.875rem;
  font-weight: 600;
  font-family: AvnirmyFontDemi;
  line-height: 1.375rem;
  color: #323232;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .shows__location {
    min-width: 10rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    font-family: AvnirmyFontRegular;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 1280px) {
  .shows__location {
    margin-right: 4rem;
  }
}
.shows__divider {
  border-top: 1px solid #E1E1E1;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.shows__wrapper {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .shows__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .shows__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10rem;
  }
}
.shows__show {
  width: 100%;
  margin-top: 0;
  padding-bottom: 0;
}
.shows__show--selected {
  background-color: #E1E1E1;
}/*# sourceMappingURL=shows.css.map */